.josefin-sans-normal {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* common style */
.text-primary {
  color: #9e1c60;
}

.dark {
  color: #2c2c2c;
}

.dark-2 {
  color: #757575;
}

.btn-primary {
  background-color: #9e1c60;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}

.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 50px;
}

.section-description {
  font-size: 18px;
  margin-bottom: 30px;
}

/* header starts */

.header {
  background-image: url(../images/background-image.png);
  background-repeat: no-repeat;
}

/* nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav ul a {
  text-decoration: none;
  font-size: 20px;
}

/* banner styles */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 0 200px;
}

.banner-content {
  width: 580px;
}

.banner-greetings {
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  font-size: 80px;
  font-weight: 600;
}

.banner-description {
  font-size: 30px;
  font-weight: 500;
}

.banner-pic {
  width: 580px;
}

/* main section */

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section */

.about {
  background-image: url(../images/about-background.png);
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about .info-title {
  font-size: 20px;
}

.info-description {
  font-weight: 700;
  font-size: 20px;
}

/* What i do styles */

.what-i-do {
  padding: 160px 150px;
  background-image: url(../images/what-i-do-background.png);
}

.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skill-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
}

/* Resume Styles */

.resume {
  padding: 130px 150px;
}

.resume-content {
  display: flex;
  gap: 24px;
}
.resume-item {
  margin-top: 30px;
  margin-bottom: 30px;
}
.resume .title {
  font-weight: 700;
  font-size: 25px;
  color: #474747;
  margin-bottom: 10px;
}
.resume .sub-title {
  color: #757575;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.resume .description {
  color: #757575;
}

.resume-button {
  margin-top: 50px;
  text-align: center;
}

/* contact styles */
.contact {
  display: flex;
  gap: 100px;
  background-image: url(../images/contact-background.png);
  padding: 130px 200px;
}
.contact .section-title {
  text-align: left;
}

.contact input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}

input {
  height: 64px;
}

.contact a {
  text-decoration: none;
}

/* footer */
.footer {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
